/obj/Debug/*
/bin/Debug/*
/.vs/*
node_modules
/.vs/TLCN/FileContentIndex
/.vs/TLCN/FileContentIndex
/.vs/TLCN/v17/.suo
/AdminApplication/obj/Debug/net6.0/AdminApplication.assets.cache
*.txt
/AdminApplication/obj/project.nuget.cache
/AdminArchitecture/obj/Debug/net6.0/AdminArchitecture.assets.cache
/AdminArchitecture/obj/project.nuget.cache
/DocsSiteApplication/bin/Debug/net6.0/DocsSiteApplication.deps.json
/DocsSiteApplication/bin/Debug/net6.0/DocsSiteApplication.dll
/DocsSiteApplication/bin/Debug/net6.0/DocsSiteApplication.pdb
/DocsSiteApplication/bin/Debug/net6.0/Domain.dll
/DocsSiteApplication/bin/Debug/net6.0/Domain.pdb
/DocsSiteApplication/obj/Debug/net6.0/ref/DocsSiteApplication.dll
/DocsSiteApplication/obj/Debug/net6.0/refint/DocsSiteApplication.dll
/Upload/obj/Debug/net6.0/Upload.assets.cache
/Domain/obj/Debug/net6.0/Domain.assets.cache
/DocsSiteArchitecture/obj/Debug/net6.0/DocsSiteArchitecture.assets.cache
/DocsSiteApplication/obj/Debug/net6.0/DocsSiteApplication.assets.cache
/Upload/obj/project.nuget.cache
/Upload/obj/Debug/net6.0/Upload.pdb
/Upload/obj/Debug/net6.0/Upload.genruntimeconfig.cache
/Upload/obj/Debug/net6.0/Upload.GeneratedMSBuildEditorConfig.editorconfig
/Upload/obj/Debug/net6.0/Upload.dll
/Upload/obj/Debug/net6.0/Upload.csproj.CoreCompileInputs.cache
/Upload/obj/Debug/net6.0/Upload.csproj.AssemblyReference.cache
/Upload/obj/Debug/net6.0/Upload.AssemblyInfoInputs.cache
/Upload/obj/Debug/net6.0/Upload.AssemblyInfo.cs
/Upload/obj/Debug/net6.0/refint/Upload.dll
/Upload/obj/Debug/net6.0/ref/Upload.dll
/Upload/bin/Debug/net6.0/Upload.runtimeconfig.json
/Upload/bin/Debug/net6.0/Upload.pdb
/Upload/bin/Debug/net6.0/Upload.exe
/Upload/bin/Debug/net6.0/Upload.dll
/Upload/bin/Debug/net6.0/Upload.deps.json
/Domain/obj/project.nuget.cache
/Domain/obj/Debug/net6.0/refint/Domain.dll
/Domain/obj/Debug/net6.0/ref/Domain.dll
/Domain/obj/Debug/net6.0/Domain.pdb
/Domain/obj/Debug/net6.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
/Domain/obj/Debug/net6.0/Domain.dll
/Domain/obj/Debug/net6.0/Domain.csproj.CoreCompileInputs.cache
/Domain/obj/Debug/net6.0/Domain.csproj.AssemblyReference.cache
/Domain/obj/Debug/net6.0/Domain.AssemblyInfoInputs.cache
/Domain/obj/Debug/net6.0/Domain.AssemblyInfo.cs
/Domain/bin/Debug/net6.0/Domain.pdb
/Domain/bin/Debug/net6.0/Domain.dll
/Domain/bin/Debug/net6.0/Domain.deps.json
/DocsSiteArchitecture/obj/project.nuget.cache
/DocsSiteArchitecture/obj/Debug/net6.0/refint/DocsSiteArchitecture.dll
/DocsSiteArchitecture/obj/Debug/net6.0/ref/DocsSiteArchitecture.dll
/DocsSiteArchitecture/obj/Debug/net6.0/DocsSiteArchitecture.pdb
/DocsSiteArchitecture/obj/Debug/net6.0/DocsSiteArchitecture.genruntimeconfig.cache
/DocsSiteArchitecture/obj/Debug/net6.0/DocsSiteArchitecture.GeneratedMSBuildEditorConfig.editorconfig
/DocsSiteArchitecture/obj/Debug/net6.0/DocsSiteArchitecture.dll
/DocsSiteArchitecture/obj/Debug/net6.0/DocsSiteArchitecture.csproj.CoreCompileInputs.cache
/DocsSiteArchitecture/obj/Debug/net6.0/DocsSiteArchitecture.csproj.CopyComplete
/DocsSiteArchitecture/obj/Debug/net6.0/DocsSiteArchitecture.csproj.AssemblyReference.cache
/DocsSiteArchitecture/obj/Debug/net6.0/DocsSiteArchitecture.AssemblyInfoInputs.cache
/DocsSiteArchitecture/obj/Debug/net6.0/DocsSiteArchitecture.AssemblyInfo.cs
/DocsSiteArchitecture/bin/Debug/net6.0/Domain.pdb
/DocsSiteArchitecture/bin/Debug/net6.0/Domain.dll
/DocsSiteArchitecture/bin/Debug/net6.0/DocsSiteArchitecture.runtimeconfig.json
/DocsSiteArchitecture/bin/Debug/net6.0/DocsSiteArchitecture.pdb
/DocsSiteArchitecture/bin/Debug/net6.0/DocsSiteArchitecture.dll
/DocsSiteArchitecture/bin/Debug/net6.0/DocsSiteArchitecture.deps.json
/DocsSiteArchitecture/bin/Debug/net6.0/DocsSiteApplication.pdb
/DocsSiteArchitecture/bin/Debug/net6.0/DocsSiteApplication.dll
/DocsSiteApplication/obj/project.nuget.cache
/DocsSiteApplication/obj/Debug/net6.0/DocsSiteApplication.pdb
/DocsSiteApplication/obj/Debug/net6.0/DocsSiteApplication.GeneratedMSBuildEditorConfig.editorconfig
/DocsSiteApplication/obj/Debug/net6.0/DocsSiteApplication.dll
/DocsSiteApplication/obj/Debug/net6.0/DocsSiteApplication.csproj.CoreCompileInputs.cache
/DocsSiteApplication/obj/Debug/net6.0/DocsSiteApplication.csproj.CopyComplete
/DocsSiteApplication/obj/Debug/net6.0/DocsSiteApplication.csproj.AssemblyReference.cache
/DocsSiteApplication/obj/Debug/net6.0/DocsSiteApplication.AssemblyInfoInputs.cache
/DocsSiteApplication/obj/Debug/net6.0/DocsSiteApplication.AssemblyInfo.cs
/AdminArchitecture/obj/Debug/net6.0/refint/AdminArchitecture.dll
/AdminArchitecture/obj/Debug/net6.0/ref/AdminArchitecture.dll
/AdminArchitecture/obj/Debug/net6.0/AdminArchitecture.pdb
/AdminArchitecture/obj/Debug/net6.0/AdminArchitecture.dll
/AdminArchitecture/obj/Debug/net6.0/AdminArchitecture.csproj.CoreCompileInputs.cache
/AdminArchitecture/bin/Debug/net6.0/AdminArchitecture.pdb
/AdminArchitecture/bin/Debug/net6.0/AdminArchitecture.dll
/AdminArchitecture/bin/Debug/net6.0/AdminArchitecture.deps.json
/AdminApplication/obj/Debug/net6.0/refint/AdminApplication.dll
/AdminApplication/obj/Debug/net6.0/ref/AdminApplication.dll
/AdminApplication/obj/Debug/net6.0/AdminApplication.pdb
/AdminApplication/obj/Debug/net6.0/AdminApplication.dll
/AdminApplication/obj/Debug/net6.0/AdminApplication.csproj.CoreCompileInputs.cache
/AdminApplication/bin/Debug/net6.0/AdminApplication.pdb
/AdminApplication/bin/Debug/net6.0/AdminApplication.dll
/AdminApplication/bin/Debug/net6.0/AdminApplication.deps.json
/AdminArchitecture/obj/Debug/net6.0/AdminArchitecture.csproj.AssemblyReference.cache
/AdminApplication/obj/Debug/net6.0/AdminApplication.csproj.AssemblyReference.cache
/AdminArchitecture/obj/Debug/net6.0/AdminArchitecture.GeneratedMSBuildEditorConfig.editorconfig
/AdminArchitecture/obj/Debug/net6.0/AdminArchitecture.AssemblyInfoInputs.cache
/AdminArchitecture/obj/Debug/net6.0/AdminArchitecture.AssemblyInfo.cs
/AdminApplication/obj/Debug/net6.0/AdminApplication.GeneratedMSBuildEditorConfig.editorconfig
/AdminApplication/obj/Debug/net6.0/AdminApplication.AssemblyInfoInputs.cache
/AdminApplication/obj/Debug/net6.0/AdminApplication.AssemblyInfo.cs
/.vs/TLCN/v17/.futdcache.v2
/.vs/TLCN/DesignTimeBuild/.dtbcache.v2
/.vs/ProjectEvaluation/tlcn.projects.v5.2
/.vs/ProjectEvaluation/tlcn.metadata.v5.2
