/obj/Debug/*
/bin/Debug/*
/.vs/*
node_modules
/.vs/TLCN/FileContentIndex
/.vs/TLCN/FileContentIndex
/.vs/TLCN/v17/.suo
/AdminApplication/obj/Debug/net6.0/AdminApplication.assets.cache
*.txt
/AdminApplication/obj/project.nuget.cache
/AdminArchitecture/obj/Debug/net6.0/AdminArchitecture.assets.cache
/AdminArchitecture/obj/project.nuget.cache
/CallFlowApplication/bin/Debug/net6.0/CallFlowApplication.deps.json
/CallFlowApplication/bin/Debug/net6.0/CallFlowApplication.dll
/CallFlowApplication/bin/Debug/net6.0/CallFlowApplication.pdb
/CallFlowApplication/bin/Debug/net6.0/Domain.dll
/CallFlowApplication/bin/Debug/net6.0/Domain.pdb
/CallFlowApplication/obj/Debug/net6.0/ref/CallFlowApplication.dll
/CallFlowApplication/obj/Debug/net6.0/refint/CallFlowApplication.dll
/Upload/obj/Debug/net6.0/Upload.assets.cache
/Domain/obj/Debug/net6.0/Domain.assets.cache
/CallFlowArchitecture/obj/Debug/net6.0/CallFlowArchitecture.assets.cache
/CallFlowApplication/obj/Debug/net6.0/CallFlowApplication.assets.cache
/Upload/obj/project.nuget.cache
/Upload/obj/Debug/net6.0/Upload.pdb
/Upload/obj/Debug/net6.0/Upload.genruntimeconfig.cache
/Upload/obj/Debug/net6.0/Upload.GeneratedMSBuildEditorConfig.editorconfig
/Upload/obj/Debug/net6.0/Upload.dll
/Upload/obj/Debug/net6.0/Upload.csproj.CoreCompileInputs.cache
/Upload/obj/Debug/net6.0/Upload.csproj.AssemblyReference.cache
/Upload/obj/Debug/net6.0/Upload.AssemblyInfoInputs.cache
/Upload/obj/Debug/net6.0/Upload.AssemblyInfo.cs
/Upload/obj/Debug/net6.0/refint/Upload.dll
/Upload/obj/Debug/net6.0/ref/Upload.dll
/Upload/bin/Debug/net6.0/Upload.runtimeconfig.json
/Upload/bin/Debug/net6.0/Upload.pdb
/Upload/bin/Debug/net6.0/Upload.exe
/Upload/bin/Debug/net6.0/Upload.dll
/Upload/bin/Debug/net6.0/Upload.deps.json
/Domain/obj/project.nuget.cache
/Domain/obj/Debug/net6.0/refint/Domain.dll
/Domain/obj/Debug/net6.0/ref/Domain.dll
/Domain/obj/Debug/net6.0/Domain.pdb
/Domain/obj/Debug/net6.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
/Domain/obj/Debug/net6.0/Domain.dll
/Domain/obj/Debug/net6.0/Domain.csproj.CoreCompileInputs.cache
/Domain/obj/Debug/net6.0/Domain.csproj.AssemblyReference.cache
/Domain/obj/Debug/net6.0/Domain.AssemblyInfoInputs.cache
/Domain/obj/Debug/net6.0/Domain.AssemblyInfo.cs
/Domain/bin/Debug/net6.0/Domain.pdb
/Domain/bin/Debug/net6.0/Domain.dll
/Domain/bin/Debug/net6.0/Domain.deps.json
/CallFlowArchitecture/obj/project.nuget.cache
/CallFlowArchitecture/obj/Debug/net6.0/refint/CallFlowArchitecture.dll
/CallFlowArchitecture/obj/Debug/net6.0/ref/CallFlowArchitecture.dll
/CallFlowArchitecture/obj/Debug/net6.0/CallFlowArchitecture.pdb
/CallFlowArchitecture/obj/Debug/net6.0/CallFlowArchitecture.genruntimeconfig.cache
/CallFlowArchitecture/obj/Debug/net6.0/CallFlowArchitecture.GeneratedMSBuildEditorConfig.editorconfig
/CallFlowArchitecture/obj/Debug/net6.0/CallFlowArchitecture.dll
/CallFlowArchitecture/obj/Debug/net6.0/CallFlowArchitecture.csproj.CoreCompileInputs.cache
/CallFlowArchitecture/obj/Debug/net6.0/CallFlowArchitecture.csproj.CopyComplete
/CallFlowArchitecture/obj/Debug/net6.0/CallFlowArchitecture.csproj.AssemblyReference.cache
/CallFlowArchitecture/obj/Debug/net6.0/CallFlowArchitecture.AssemblyInfoInputs.cache
/CallFlowArchitecture/obj/Debug/net6.0/CallFlowArchitecture.AssemblyInfo.cs
/CallFlowArchitecture/bin/Debug/net6.0/Domain.pdb
/CallFlowArchitecture/bin/Debug/net6.0/Domain.dll
/CallFlowArchitecture/bin/Debug/net6.0/CallFlowArchitecture.runtimeconfig.json
/CallFlowArchitecture/bin/Debug/net6.0/CallFlowArchitecture.pdb
/CallFlowArchitecture/bin/Debug/net6.0/CallFlowArchitecture.dll
/CallFlowArchitecture/bin/Debug/net6.0/CallFlowArchitecture.deps.json
/CallFlowArchitecture/bin/Debug/net6.0/CallFlowApplication.pdb
/CallFlowArchitecture/bin/Debug/net6.0/CallFlowApplication.dll
/CallFlowApplication/obj/project.nuget.cache
/CallFlowApplication/obj/Debug/net6.0/CallFlowApplication.pdb
/CallFlowApplication/obj/Debug/net6.0/CallFlowApplication.GeneratedMSBuildEditorConfig.editorconfig
/CallFlowApplication/obj/Debug/net6.0/CallFlowApplication.dll
/CallFlowApplication/obj/Debug/net6.0/CallFlowApplication.csproj.CoreCompileInputs.cache
/CallFlowApplication/obj/Debug/net6.0/CallFlowApplication.csproj.CopyComplete
/CallFlowApplication/obj/Debug/net6.0/CallFlowApplication.csproj.AssemblyReference.cache
/CallFlowApplication/obj/Debug/net6.0/CallFlowApplication.AssemblyInfoInputs.cache
/CallFlowApplication/obj/Debug/net6.0/CallFlowApplication.AssemblyInfo.cs
/AdminArchitecture/obj/Debug/net6.0/refint/AdminArchitecture.dll
/AdminArchitecture/obj/Debug/net6.0/ref/AdminArchitecture.dll
/AdminArchitecture/obj/Debug/net6.0/AdminArchitecture.pdb
/AdminArchitecture/obj/Debug/net6.0/AdminArchitecture.dll
/AdminArchitecture/obj/Debug/net6.0/AdminArchitecture.csproj.CoreCompileInputs.cache
/AdminArchitecture/bin/Debug/net6.0/AdminArchitecture.pdb
/AdminArchitecture/bin/Debug/net6.0/AdminArchitecture.dll
/AdminArchitecture/bin/Debug/net6.0/AdminArchitecture.deps.json
/AdminApplication/obj/Debug/net6.0/refint/AdminApplication.dll
/AdminApplication/obj/Debug/net6.0/ref/AdminApplication.dll
/AdminApplication/obj/Debug/net6.0/AdminApplication.pdb
/AdminApplication/obj/Debug/net6.0/AdminApplication.dll
/AdminApplication/obj/Debug/net6.0/AdminApplication.csproj.CoreCompileInputs.cache
/AdminApplication/bin/Debug/net6.0/AdminApplication.pdb
/AdminApplication/bin/Debug/net6.0/AdminApplication.dll
/AdminApplication/bin/Debug/net6.0/AdminApplication.deps.json
/AdminArchitecture/obj/Debug/net6.0/AdminArchitecture.csproj.AssemblyReference.cache
/AdminApplication/obj/Debug/net6.0/AdminApplication.csproj.AssemblyReference.cache
/AdminArchitecture/obj/Debug/net6.0/AdminArchitecture.GeneratedMSBuildEditorConfig.editorconfig
/AdminArchitecture/obj/Debug/net6.0/AdminArchitecture.AssemblyInfoInputs.cache
/AdminArchitecture/obj/Debug/net6.0/AdminArchitecture.AssemblyInfo.cs
/AdminApplication/obj/Debug/net6.0/AdminApplication.GeneratedMSBuildEditorConfig.editorconfig
/AdminApplication/obj/Debug/net6.0/AdminApplication.AssemblyInfoInputs.cache
/AdminApplication/obj/Debug/net6.0/AdminApplication.AssemblyInfo.cs
/.vs/TLCN/v17/.futdcache.v2
/.vs/TLCN/DesignTimeBuild/.dtbcache.v2
/.vs/ProjectEvaluation/tlcn.projects.v5.2
/.vs/ProjectEvaluation/tlcn.metadata.v5.2
